{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sample site</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>

  <body>
    <header>
      <a href="/">top</a>
      <a href="/login">login</a>
      <a href="/signup">signup</a>
      <form method="post" action="/logout">
        <input type="submit" value="logout" />
      </form>
    </header>
    <div class="inner">{{template "body".}}</div>
  </body>
  <script src="/assets/index.js"></script>
</html>
{{end}}
